<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.per.dao.PerPersonDao" >
  <select id="selectForPage" parameterType="com.jebms.comm.entity.SearchInfo" resultType="com.jebms.per.entity.PerPersonVO">
select pp.*
      ,pd.department_code
      ,pd.department_name
      ,pp2.emp_number manager_number
      ,pp2.full_name manager_fname
      ,pj.job_code
      ,pj.job_name
  from per_people pp
    LEFT JOIN per_departments pd ON pp.department_id = pd.id
    LEFT JOIN per_people pp2 ON pp.manager_id = pp2.id
    LEFT JOIN per_jobs pj ON pp.job_id = pj.id
 where 1=1
		   ${sqlCondition}
		   order by ${orderBy}
  </select>
  <select id="selectVOByPK" resultType="com.jebms.per.entity.PerPersonVO" >
select pp.*
      ,pd.department_code
      ,pd.department_name
      ,pp2.emp_number manager_number
      ,pp2.full_name manager_fname
      ,pj.job_code
      ,pj.job_name
  from per_people pp
    LEFT JOIN per_departments pd ON pp.department_id = pd.id
    LEFT JOIN per_people pp2 ON pp.manager_id = pp2.id
    LEFT JOIN per_jobs pj ON pp.job_id = pj.id
 where pp.id = #{id,jdbcType=BIGINT}
  </select>
</mapper>