<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebms.fnd.dao.FndWorklogLineDao" >
  <select id="selectForPage" parameterType="com.jebms.comm.entity.SearchInfo" resultType="com.jebms.fnd.entity.FndWorklogLineVO">
select fwl.*
      ,flv1.meaning line_type_desc
      ,flv2.meaning line_sub_type_desc
      ,case when fwl.language='*' then '中英文公用版本'
            when fwl.language='ZHS' then '中文版本'
            when fwl.language='US' then '英文版本'
            else fwl.language
       end language_desc
  from fnd_worklog_lines fwl
      ,fnd_lookup_values flv1
      ,fnd_lookup_values flv2
 where flv1.lookup_type='FND_WORK_LINETYP'
   and flv1.lookup_code=fwl.line_type
   and flv1.language=#{authUser.language}
   and flv2.lookup_type='FND_WORK_LINESUBTYP'
   and flv2.lookup_code=fwl.line_sub_type
   and flv2.language=#{authUser.language}
		   ${sqlCondition}
		   order by ${orderBy}
  </select>
  <select id="selectVOByPK" resultType="com.jebms.fnd.entity.FndWorklogLineVO" >
select fwl.*
      ,flv1.meaning line_type_desc
      ,flv2.meaning line_sub_type_desc
      ,case when fwl.language='*' then '中英文公用版本'
            when fwl.language='ZHS' then '中文版本'
            when fwl.language='US' then '英文版本'
            else fwl.language
       end language_desc
  from fnd_worklog_lines fwl
      ,fnd_lookup_values flv1
      ,fnd_lookup_values flv2
 where flv1.lookup_type='FND_WORK_LINETYP'
   and flv1.lookup_code=fwl.line_type
   and flv1.language=#{lang,jdbcType=VARCHAR}
   and flv2.lookup_type='FND_WORK_LINESUBTYP'
   and flv2.lookup_code=fwl.line_sub_type
   and flv2.language=#{lang,jdbcType=VARCHAR}
   and fwl.id = #{id,jdbcType=BIGINT}
  </select>
</mapper>